body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto; 
}

#homeSectionA {
    background-image: url('https://images.pexels.com/photos/301673/pexels-photo-301673.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    margin-left: 10px;
}
